body{
  height: 100%;
  width: 100%;
  font-family: arial;
}
.header{
  width:100%;
  position: absolute;
  top: 0px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
li{
  float: left;
}
li.text{
  opacity: 0.60;
}
li a{
  display: block;
  color: black;
  text-align: center;
  margin: 10px 16px;
  text-decoration: none;
  font-weight: 200;
  font-size: 13px;
  line-height: 32px;
}
.small{
  background: rgba(0, 0, 0, 0.55);
  height: 20px;
  width: 20px;
  margin: 16px;
}
.square{
  background: white;
}
.circle{
  border-radius: 50%;
}
#apps{
  background: url(../img/google-icons.png) no-repeat;
  background-position: -138px -43px;
  opacity: 0.55;
  background-size: 528px 68px;
  text-align: center;
  height: 20px;
  width: 20px;
}
#alert{
  background: url(../img/google-icons.png) no-repeat;
  background-position: -194px -21px;
  opacity: 1;
  background-size: 528px 68px;
  text-align: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#profile{
  background: url(../img/profile-pic.jpg) no-repeat;
  opacity: 1;
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.main{
  margin-top: 190px;
}
.logo{
  position: relative;
  background: url(../img/google-logo.png) no-repeat;
  background-size: 272px 92px;
  width: 272px;
  height: 92px;
  margin: 0 auto 35px;
}
.logo h4{
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 16px;
  line-height: 16px;
  font-family: roboto;
  color: #4285f4;
}
.search-form{
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.search-box{
  border: 1px solid #ddd;
  padding: 10px 5px;
  display: inline-block;
  width: 488px;
}
.mic{
  background: url(../img/mic.png) no-repeat -3px 0;
  background-size: 24px 24px;
  height: 23px;
  width: 17px;
  display: inline-block;
}
#search{
  font-size: 16px;
  line-height: 16px;
  border: none;
  outline: none;
  float: left;
  width: 460px;
}
input[type=submit]{
  border: none;
    border-radius: 3px;
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    color: #757575;
    background: #f2f2f2;
    padding: 5px 15px!important;
    margin: 25px 4px !important;
}
.footer{
  width:100%;
  position: fixed;
  bottom: 0px;
  background: #f2f2f2;
  border-top: 1px solid #ccc;
  height: 40px;
}
.footer li a{
  color: #666;
  line-height: 20px;
}
